.main {
    min-width: 100%;
    padding-top: 70px;
    //background: url("../../assets/img/background.jpg") 50% / cover no-repeat fixed;
    //background: url("../../assets/img/background.jpg") 0 0 / cover no-repeat fixed;
    &__title {
        text-align: center;
        font-size: 36px;
        margin-bottom: 20px;
        font-family: serif;
    }
    &__movie {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    &__movie img {
        max-width: 100%;
    }
    &__subtitle {
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 15px;
        text-indent: 20px;
        color: red;
    }
    &__row {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
    }
    &__column {
        flex: 0 0 49.5%;
    }
    &__photo {
        flex: 1 1 auto;
        margin-bottom: 15px;
    }
    &__photo img {
        max-width: 100%;
    }
    &__text {
        font-size: 20px;
        font-style: italic;
        text-indent: 20px;
        line-height: 1.5;
        margin-bottom: 15px;
        color: red;
    }
}
.main:before {
    content: "";
    background: url("../../assets/img/background.jpg");
    position: fixed;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

@media (max-width: 850px) {
    .main {
        &__row {
            display: block;
        }
    }
}
